@model DolphinFx.Models.UserRole

<div class="details-container">
    <h4>User Role</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-6">Role</dt>
        <dd class="col-sm-6">@Html.DisplayFor(model => model.Role)</dd>

        <dt class="col-sm-6">Role Description</dt>
        <dd class="col-sm-6">@Html.DisplayFor(model => model.RoleDescription)</dd>
    </dl>
</div>