@model DolphinFx.Models.UserRole

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="details-container">
    <h4>UserRole</h4>
    <hr />
    <dl class="row" class="details-list">
        <dt class = "col-sm-2" >
            Role
        </dt>
        <dd class = "col-sm-10" >
            @Html.DisplayFor(model => model.Role)
        </dd>
        <dt class = "col-sm-2" >
            Role Description
        </dt>
        <dd class = "col-sm-10" >
            @Html.DisplayFor(model => model.RoleDescription)
        </dd>
    </dl>
</div>
<div class="details-actions">
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.UserID">Edit</a> |
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
