@model DolphinFx.Models.Application

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="details-container">
    <h4>Application</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            ApplicationName
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationName)
        </dd>
        <dt class = "col-sm-2">
            ApplicationShortName
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationShortName)
        </dd>
        <dt class = "col-sm-2">
            ApplicationDescription
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationDescription)
        </dd>
    </dl>
</div>
<div class="details-actions">
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.ApplicationID">Edit</a> |
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
