@model DolphinFx.Models.Application

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Application</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ApplicationID" />
            <div class="form-group">
                <label asp-for="ApplicationName" class="control-label"></label>
                <input asp-for="ApplicationName" class="form-control" />
                <span asp-validation-for="ApplicationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationShortName" class="control-label"></label>
                <input asp-for="ApplicationShortName" class="form-control" />
                <span asp-validation-for="ApplicationShortName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationDescription" class="control-label"></label>
                <input asp-for="ApplicationDescription" class="form-control" />
                <span asp-validation-for="ApplicationDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

