@model DolphinFx.Models.Environment

@{
    ViewData["Title"] = "Create";
}
<style>
    .flex-box {
        display: flex;
        flex-wrap: wrap;
        gap: 16px; /* Adjust the gap between elements */
    }
    
    .form-group {
        flex: 1 1 45%; /* Adjusts the flex basis to ensure two items per row */
        margin-bottom: 16px; /* Adds space below each form group */
    }
    
    .form-group label {
        display: block; /* Ensures the label takes up its own line */
        margin-bottom: 4px; /* Adds space between label and input */
    }
</style>

<h1>Create</h1>

<h4>Environment</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="flex-box">
                <div class="form-group">
                    <label asp-for="EnvironmentName" class="control-label"></label>
                    <input asp-for="EnvironmentName" class="form-control" />
                    <span asp-validation-for="EnvironmentName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EnvironmentDescription" class="control-label"></label>
                    <input asp-for="EnvironmentDescription" class="form-control" />
                    <span asp-validation-for="EnvironmentDescription" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-primary" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

