@model DolphinFx.Models.Environment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Environment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnvironmentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnvironmentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnvironmentDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnvironmentDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EnvironmentID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
