@model DolphinFx.Models.Environment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="details-container">
    <h4>Environment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Environment Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnvironmentName)
        </dd>
        <dt class = "col-sm-2">
            Environment Description
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnvironmentDescription)
        </dd>
    </dl>
</div>
<div class="details-actions">
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.EnvironmentID">Edit</a> |
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
